@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.favoriteButton {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;

    &.isFavorite {
        color: $color-success;
        cursor: pointer;
    }
}

.removeFavoriteButton {
    color: $color-warning;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: $base-size;
    font-size: 16px;

    &:active {
        color: $color-light;
    }
}