@import '../../styles/settings.scss';

.favorite {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: $color-dark;
  align-items: center;
}

.cards{
  flex-shrink: 0;
  width: calc(33% - 12px);
  background: #fff;
  margin: 0 12px 12px 0;
  padding: 18px;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
  color: #2f3542;
}